<!--
 Jquery 
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js" type="text/javascript"></script>
 Bootstrap 
<link href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
<script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js" type="text/javascript"></script>
-->
<!-- Jquery -->
<script src="__PUBLIC__/plugs/jquery-1.12.4.min.js" type="text/javascript"></script>
<!-- Bootstrap -->
<link href="__PUBLIC__/plugs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/plugs/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
<script src="__PUBLIC__/plugs/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- Jquery perfect scrollbar -->
<link href="__PUBLIC__/plugs/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
<script src="__PUBLIC__/plugs/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<!-- Jquery pjax -->
<script src="__PUBLIC__/plugs/pjax/jquery.pjax.js"></script>
<!-- Jquery pace -->
<script src="__PUBLIC__/plugs/pace/pace.min.js"></script>
<link href="__PUBLIC__/plugs/pace/themes/green/pace-theme-flat-top.css" rel="stylesheet">
<!-- Bootstrap  editable -->
<script src="__PUBLIC__/plugs/bootstrap-editable/js/bootstrap-editable.min.js"></script>
<link href="__PUBLIC__/plugs/bootstrap-editable/css/bootstrap-editable.css" type="text/css" rel="stylesheet"/>
<link href="__PUBLIC__/plugs/inputs-ext/address/address.css" type="text/css" rel="stylesheet"/>
<script src="__PUBLIC__/plugs/inputs-ext/address/address.js"></script>
<!-- datatables -->
<link href="__PUBLIC__/plugs/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
<script src="__PUBLIC__/plugs/datatables/datatables.min.js" type="text/javascript"></script>
<!-- Theme CSS -->
<link href="__PUBLIC__/assets/css/style.css" type="text/css" rel="stylesheet" />
<link href="__PUBLIC__/assets/css/table.css" type="text/css" rel="stylesheet" />
<!-- App Script -->
<script src="__PUBLIC__/assets/js/app.js"></script>
<!-- Favicon -->
<link href="__PUBLIC__/assets/images/favicon.ico" rel="shortcut icon" />
<!-- Apple devices Homescreen icon -->
<link href="__PUBLIC__/assets/images/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed" />