<div class="container mt20" >
    <div class="footer">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-xs-12 footernav">
                        <addon addonid="13" id="vo"> {$vo.content|htmlspecialchars_decode} </addon>
                    </div>
                    <div class="col-md-6 col-xs-12"> 
                        <!--              <div class="col-md-4 col-xs-12">
                            <h3 class="mt10">Contact us</h3>
                          </div>col-md-8 col-xs-12-->
                        <div class="pt20 pr20">
                            <p class="text-right"> <a href="https://www.linkedin.com/company/chemical-inspection-and-regulation-service-limited" target="_blank"><img src="__PUBLIC__/default/assets/images/linkedin.png" class="img-circle"></a> <a href="https://www.youtube.com/channel/UCCQsdCvhnAMNDxGi2nkfqLw?view_as=public" target="_blank"><img src="__PUBLIC__/default/assets/images/youtube.png" class="img-circle"></a> </p>
                            <addon addonid="14" id="vo">
                                <p class="text-right ">{$vo.content|htmlspecialchars_decode}</p>
                            </addon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="bottom_break"></div>
</div>
