<div class="easyui-panel box-{$random}" data-options="fit:true,border:0">
  <table id="grid-{$random}">
  </table>
  <div id="toolbar-{$random}" style="padding:5px">
      <a id="add-{$random}">添加用户</a>
      <a id="refresh-{$random}">刷新列表</a>
  </div>
</div>
<script>
$(function(){
	try{
		$('#grid-{$random}').datagrid({
			url:'{:U("index")}',
			toolbar: '#toolbar-{$random}',
			idField:'id',
			fit:true,border:false,fitColumns:true,singleSelect:true,checkOnSelect:false,
			columns:[[
				{field:'id',title:'编号',width:50,align:'center'},
				{field:'nickname',title:'用户',width:200},
				{field:'username',title:'用户名',width:200},
				{field:'oper-edit',title:'编辑',width:50,align:'center',formatter:function(val,row,i){
					return '<a href="javascript:;" id="edit-'+row.id+'-{$random}"></a>';
				}},
				{field:'oper-del',title:'删除',width:50,align:'center',formatter:function(val,row,i){
					return '<a href="javascript:;" id="del-'+row.id+'-{$random}"></a>';
				}}
			]],
			onLoadSuccess: function(data){
				$.each(data.rows,function(i,row){
					$('#edit-'+row.id+'-{$random}').text('[ 编辑 ]').unbind('click').bind('click',function(){
					   win({
						   title:'编辑 : '+row.username,
						   href:"{:U('update')}",
						   icon:'icon-edit',
						   form:true,
						   render:'{$random}',
						   param:{id:row.id},
						   submitOK:function(){
							   $('#grid-{$random}').datagrid('reload');
						   }
					   });
					});
					$('#del-'+row.id+'-{$random}').text('[ 删除 ]').unbind('click').bind('click',function(){
					   win({
						   title:'删除 : '+row.username,
						   href:"{:U('delete')}",
						   icon:'icon-delete',
						   form:false,
						   render:'{$random}',
						   param:{id:row.id}
					   });
					});
				});	
			}
		});
		$('#add-{$random}').linkbutton({iconCls:'icon-add'}).bind('click',function(){
			win({
			   title:$(this).text(),
			   href:"{:U('add')}",
			   icon:'icon-add',
			   form:true,
			   render:'{$random}',
			   submitOK:function(dpost,dback){
					$('#grid-{$random}').datagrid('reload');	
			   }
		   });
		});
		$('#refresh-{$random}').linkbutton({iconCls:'icon-reload'}).bind('click',function(){
			$('#grid-{$random}').datagrid('reload');
		});
	}catch(e){
		$.messager.alert('Error',e.name + ": " + e.message,'error');
	}
});
</script>