<form id="form-{:I('get.render')}" method="post" action="{:U('update','id='.I('get.id'))}">
    <table class="form-table" cellpadding="0" cellspacing="0">
        <tr>
            <th width="66">用户</th>
            <td><input type="text" name="nickname" class="easyui-textbox" data-options="required:true,width:200" /></td>
        </tr>
        <tr>
            <th>用户名</th>
            <td><input type="text" name="username" class="easyui-textbox" data-options="required:true,width:200" /></td>
        </tr>
        <tr>
            <th>密码</th>
            <td><input type="password" name="password" id="password-{$random}" class="easyui-textbox" data-options="validType:'safepass',width:200" /></td>
        </tr>
        <tr>
            <th>密码验证</th>
            <td><input type="password" class="easyui-textbox" data-options="width:200" validType="equalTo['password-{$random}']" /></td>
        </tr>
    </table>
</form>
<script>
    $(function () {
        try {
            var data = {$data};//JSON.parse('{$data|jsonparse}');
            for (x in data) {
                data[x] = HTMLDecode(data[x]);
            }
            $("#form-{:I('get.render')}").form('load', data);
            $("#win-{:I('get.render')}").window('resize', {
                width: 360,
                height: 240
            }).window('center');
        } catch (e) {
            $.messager.alert('Error', e.name + ": " + e.message, 'error');
        }
    })
</script>