<script>
    $(function () {
        $("#win-{:I('get.render')}").window('close');
        $.messager.confirm('确认操作', '是否确认清理！', function (r) {
            if (r) {
                $.post("{:U('clearcache')}", function (v) {
                    if (v.status) {
                        $.messager.alert('操作成功', '清理成功！', 'info');
                    } else {
                        $.messager.alert('操作失败', v.info, 'error');
                    }
                }, 'json')
            }
        });
    })
</script>