<div class="easyui-panel" data-options="fit:true,border:0" style="padding:5px">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" title="系统设置">
            <form id="form-{$random}" method="post" class="easyui-panel" data-options="fit:true,border:false" action="{:U('save')}">
                <div class="easyui-tabs" data-options="fit:true,border:false">
                    <div title="常规信息">
                        <table class="form-table">
                            <tr>
                                <th width="100">参数说明</th>
                                <th>参数值</th>
                                <th width="100">变量名</th>
                            </tr>
                            <tr>
                                <td>网站名称</td>
                                <td><input type="text" name="webname" class="easyui-textbox" style="width:100%" /></td>
                                <td>webname</td>
                            </tr>
                            <tr>
                                <td>网站域名</td>
                                <td><input type="text" name="weburl" class="easyui-textbox" style="width:100%" /></td>
                                <td>weburl</td>
                            </tr>
                            <tr>
                                <td>主页链接名</td>
                                <td><input type="text" name="indexname" class="easyui-textbox" style="width:100%" /></td>
                                <td>indexname</td>
                            </tr>
                            <tr>
                                <td>模板默认风格</td>
                                <td><input type="text" name="template" class="easyui-textbox" style="width:100%" /></td>
                                <td>template</td>
                            </tr>
                            <tr>
                                <td>网站版权信息</td>
                                <td><input type="text" name="powerby" class="easyui-textbox" multiline="true" style="width:100%;height:100px" /></td>
                                <td>powerby</td>
                            </tr>
                            <tr>
                                <td>关键词</td>
                                <td><input type="text" name="keywords" class="easyui-textbox" style="width:100%" /></td>
                                <td>keywords</td>
                            </tr>
                            <tr>
                                <td>网站描述</td>
                                <td><input type="text" name="description" class="easyui-textbox" multiline="true" style="width:100%;height:100px" /></td>
                                <td>description</td>
                            </tr>
                            <tr>
                                <td>备案号</td>
                                <td><input type="text" name="beian" class="easyui-textbox" style="width:100%" /></td>
                                <td>beian</td>
                            </tr>
                            <tr>
                                <td>统计代码</td>
                                <td><input type="text" name="tongji" class="easyui-textbox" multiline="true" style="width:100%;height:100px" /></td>
                                <td>tongji</td>
                            </tr>
                        </table>
                    </div>
                    <div title="上传配置">
                        <table class="form-table">
                            <tr>
                                <th width="100" style="text-align: left">参数说明</th>
                                <th style="text-align: left">参数值</th>
                                <th width="100" style="text-align: left">变量名</th>
                            </tr>
                            <tr>
                                <td>网站名称</td>
                                <td>
                                    <select name="localsave" id="localsave-{$random}" class="easyui-combobox" data-options="required:true,editable:false">
                                        <option value="1">本地存储</option>
                                        <option value="0">FTP存储</option>
                                    </select>
                                </td>
                                <td>localsave</td>
                            </tr>
                            <tr>
                                <td>FTP IP/域名</td>
                                <td><input type="text" name="ftpip" id="ftpip-{$random}" class="easyui-textbox" style="width:100%" data-options="disabled: true" /></td>
                                <td>ftpip</td>
                            </tr>
                            <tr>
                                <td>用户名</td>
                                <td><input type="text" name="ftpuser" id="ftpuser-{$random}" class="easyui-textbox" style="width:100%;" data-options="disabled: true" /></td>
                                <td>ftpuser</td>
                            </tr>
                            <tr>
                                <td>密码</td>
                                <td><input type="text" name="ftppwd" id="ftppwd-{$random}" class="easyui-textbox" style="width:100%;" data-options="disabled: true" /></td>
                                <td>ftppwd</td>
                            </tr>
                            <tr>
                                <td>目录</td>
                                <td><input type="text" name="ftpfolder" id="ftpfolder-{$random}" class="easyui-textbox" style="width:100%" data-options="disabled: true" /></td>
                                <td>ftpfolder</td>
                            </tr>
                            <tr>
                                <td>回调网址</td>
                                <td><input type="text" name="ftpurl" id="ftpurl-{$random}" class="easyui-textbox" style="width:100%" data-options="disabled: true" /></td>
                                <td>ftpurl</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <div region="south" class="formactionlarge"><a id="save-{$random}" style="width:120px; font-size:18px">保存</a></div>
    </div>
</div>
<script>
    $(function () {
        try {
            var system = {$system};
            for (x in system) {
                system[x] = HTMLDecode(system[x]);
            }
            $('#form-{$random}').form('load', system);
//            switch (system['localsave']) {
//                case '1'://本地
//                    //$('#model-{$random}').combobox('enable');
//                    $('#ftpip-{$random}').textbox({required: false}).textbox({disabled: true});
//                    $('#ftpuser-{$random}').textbox({required: false}).textbox({disabled: true});
//                    $('#ftppwd-{$random}').textbox({required: false}).textbox({disabled: true});
//                    $('#ftpfolder-{$random}').textbox({required: false}).textbox({disabled: true});
//                    $('#ftpurl-{$random}').textbox({required: false}).textbox({disabled: true});
//                    break;
//                case '0'://FTP
//                    $('#ftpip-{$random}').textbox({required: true}).textbox({disabled: false});
//                    $('#ftpuser-{$random}').textbox({required: true}).textbox({disabled: false});
//                    $('#ftppwd-{$random}').textbox({required: true}).textbox({disabled: false});
//                    $('#ftpfolder-{$random}').textbox({required: true}).textbox({disabled: false});
//                    $('#ftpurl-{$random}').textbox({required: true}).textbox({disabled: false});
//                    break;
//            }
//            $('#localsave-{$random}').combobox({
//                required: true,
//                editable: false,
//                onSelect: function (record) {
//                    switch (record.value) {
//                        case '1'://本地
//                            $('#ftpip-{$random}').textbox({required: false}).textbox({disabled: true});
//                            $('#ftpuser-{$random}').textbox({required: false}).textbox({disabled: true});
//                            $('#ftppwd-{$random}').textbox({required: false}).textbox({disabled: true});
//                            $('#ftpfolder-{$random}').textbox({required: false}).textbox({disabled: true});
//                            $('#ftpurl-{$random}').textbox({required: false}).textbox({disabled: true});
//                            break;
//                        case '0'://FTP
//                            $('#ftpip-{$random}').textbox({required: true}).textbox({disabled: false});
//                            $('#ftpuser-{$random}').textbox({required: true}).textbox({disabled: false});
//                            $('#ftppwd-{$random}').textbox({required: true}).textbox({disabled: false});
//                            $('#ftpfolder-{$random}').textbox({required: true}).textbox({disabled: false});
//                            $('#ftpurl-{$random}').textbox({required: true}).textbox({disabled: false});
//                            break;
//                    }
//                }
//            })
            $('#save-{$random}').linkbutton({
                iconCls: 'icon-save-large',
                size: 'large'
            }).bind('click', function () {
                $('#form-{$random}').form('submit', {
                    onSubmit: function () {
                        var isValid = $(this).form('validate');
                        if (isValid) {
                            $.messager.progress({});
                        }
                        return isValid;
                    },
                    success: function (data) {
                        $.messager.progress('close');
                        try {
                            var tmp = $('<span style="display:none"></span>').appendTo('body');
                            tmp.html(data);
                            var v = JSON.parse(tmp.text());
                            tmp.remove();
                            if (v.status) {
                                $.messager.alert('Success', '设置成功！', 'info');
                            } else {
                                $.messager.alert('Error', v.info, 'error');
                            }
                        } catch (e) {
                            $.messager.alert('Error', e.name + ": " + e.message, 'error');
                        }
                    }
                });
            });
        } catch (e) {
            $.messager.alert('Error', e.name + ": " + e.message, 'error');
        }
    });
</script>