<!--<form id="form">
<select name="combobox" id="combobox" class="easyui-combobox" data-options="required:true,editable:false">
    <option value="1">combobox1</option>
    <option value="2">combobox2</option>
    <option value="3">combobox3</option>
    <option value="4">combobox4</option>
</select>
<script>
    $(function () {
        try {
            var data = {combobox:3}
            $('#form').form('load',data);
            //$('#combobox').combobox('disable');  //TypeError: Cannot read property 'options' of undefined
            $('#combobox').combobox({disabled: true});  // no error
            $('#combobox').combobox({disabled: false}); // reset
        } catch (e) {
            $.messager.alert('Error', e.name + ": " + e.message, 'error');
        }
    })
</script>-->