<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="renderer" content="webkit">
            <script src="__PUBLIC__/m/plugs/easyui/jquery.min.js"></script>
            <script src="__PUBLIC__/m/plugs/easyui/jquery.easyui.min.js"></script>
            <script src="__PUBLIC__/m/plugs/easyui/locale/easyui-lang-zh_CN.js"></script>
            <script src="__PUBLIC__/m/plugs/easyui/plugins/datagridview/datagrid-groupview.js"></script>
            <script src="__PUBLIC__/m/plugs/easyui/plugins/dnd/treegrid-dnd.js"></script>
            <script src="__PUBLIC__/m/plugs/easyui/plugins/dnd/datagrid-dnd.js"></script>
            <script src="__PUBLIC__/m/plugs/easyui/validatebox-extend.js"></script>
            <link rel="stylesheet" type="text/css" href="__PUBLIC__/m/plugs/easyui/themes/default/easyui.css"/>
            <link rel="stylesheet" href="__PUBLIC__/m/plugs/kindeditor/themes/default/default.css" />
            <script charset="utf-8" src="__PUBLIC__/m/plugs/kindeditor/kindeditor-all.js"></script>
            <script charset="utf-8" src="__PUBLIC__/m/plugs/kindeditor/lang/zh-CN.js"></script>
            <link rel="stylesheet" href="__PUBLIC__/m/css/layout.css" />
            <link rel="stylesheet" href="__PUBLIC__/m/css/icon.css" />
            <script src="__PUBLIC__/m/js/ajaxfileupload.js"></script>
            <script src="__PUBLIC__/m/js/areas.js"></script>
            <script src="__PUBLIC__/m/js/easycms.js"></script>
            <title>{:C('system.webname')}</title>
    </head>
    <body class="easyui-layout" fit="true">
        <div data-options="split:true,region:'north'" class="top">
            <div class="logo">系统管理</div>
            <ul class="usermennu">
                <li>用户 : {$Think.session.user.nickname}</li>
                <li><a id="clearcache" href="javascript:;">清理缓存</a> </li>
                <li><a id="modifypass" href="javascript:;">修改密码</a> </li>
                <li><a href="{:U('Index/logout')}" target="_self">安全退出</a> </li>
            </ul>
            <div id="win"></div>
            <div id="window"></div>
            <div id="cache"></div>
            <div id="mm" class="easyui-menu"></div>
        </div>
        <div data-options="region:'west',split:true,iconCls:'icon-menu'," title="工作面板" style="width:260px;">
            <div id="accordion">
                <div title="证书管理" iconCls="icon-databases" class="accordion-item">
                    <a href="{:U('Certificates/index')}" class="accordion-menu">
                        <span icon="icon-app" class="icon-icon icon-app">&nbsp;</span><span>证书管理</span>
                    </a>
                    <a href="{:U('Certtypes/index')}" class="accordion-menu">
                        <span icon="icon-app" class="icon-icon icon-app">&nbsp;</span><span>证书类型</span>
                    </a>
                </div>
                <if condition="session('user.userid') eq 1">
                    <div title="系統管理" iconCls="icon-gear" class="accordion-item">
                        <a href="{:U('Users/index')}" class="accordion-menu">
                            <span icon="icon-user" class="icon-icon icon-user">&nbsp;</span><span>用户管理</span>
                        </a>
                        <a href="{:U('System/index')}" class="accordion-menu">
                            <span icon="icon-database" class="icon-icon icon-gear">&nbsp;</span><span>系统配置</span>
                        </a>
                    </div>
                </if>
            </div>
        </div>
        <div data-options="region:'center'">
            <div id="maintabs">
                <div title="Dashboard" data-options="href:'{:U('decorate')}',iconCls:'icon-dashboard',bodyCls:'p5'"></div>
            </div>
        </div>
        <div region="south" split="true" class="copyright">EasyCMS System Version 2.0 (Drive by Thinkphp - Powered by James)</div>
    </body>
</html>
<script>
    $('#clearcache').click(function () {
        win({
            title: $(this).text(),
            href: "/manage.php/system/clearcache",
            icon: 'icon-gear',
            form: true,
            render: 'QQ755816',
        });
    })
</script>