<if condition="$pjax"><title>{$title}</title></if>
<div id="main">
    <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/Certificates">{:L('CERTIFICATES')}</a></li>
        <li class="active">{:L('CERTDIRECT')}</li>
    </ol>
    <div class="main-show">
        <div class="container-fluid">
            <div id="certificates"></div>
        </div>
    </div>
    <script>
        $(function () {
            function formatter(val, index, row) {
                var btn = $('<a href="/certificates/certificate/id/' + row.id + '" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-log-in"></i></a>');
                btn.bind('click', function () {
                    console.info(JSON.stringify(row));
                    return false;
                })
                return btn;
            }
            $('#certificates').tablegrid({
                title: "{:L('CERTDIRECT')}",
                buttons: [
                    {name: '', btnClass: 'btn-link glyphicon glyphicon-refresh', action: function () {
                            $('#certificates').tablegrid('reload');
                        }
                    }
                ],
                Class: 'table table-striped table-bordered table-hover table-condensed',
                pagination: true, //是否分页
                pagesize: [5, 5, 10, 25, 50, 100],
                responsive: true,
                href: "/Certificates/direct",
                paginationBtns: 1, //左右最多各显示多少个按钮
                columns: [
                    {field: 'certno', label: '编号', width: 100, center: true, nowrap: true},
                    {field: 'step', label: '状态', width: 100, center: true, formatter: certstatus},
                    {field: 'createat', label: '创建时间', width: 100, center: true, formatter: timestampformat},
                    {field: 'downstreams', label: '相关信息', width: 300, formatter: downstreams},
                    {field: 'certyear', label: '涵盖年份', width: 100, center: true, formatter: function (val, index, row) {
                            if (row.certmonth != 0) {
                                return val + ' [ ' + row.certmonth + ' ] ';
                            }
                            return val;
                        }
                    },
                    {field: 'view', label: '物质', width: 50, center: true, formatter: certcard},
                    {field: 'oper', label: '查看', width: 50, center: true, formatter: formatter},
                ],
                callback: function () {
                    $('.main-show').perfectScrollbar('update');
                },
            });
        })
    </script>
</div>