<div id="page-header" class="page-header">
    <h1 class="pull-left">Dashboard</h1>
    <div class="pull-right hidden-sm hidden-xs">
        <ul class="minitiles">
            <li class="bgray">
                <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
            </li>
            <li class="bblue">
                <a href="#"><i class="glyphicon glyphicon-globe"></i></a>
            </li>
            <li class="bgreen">
                <i class="glyphicon glyphicon-calendar"></i>
                <div class="details">
                    <span class="big">December 12, 2017</span>
                    <span>Tuesday, 16:51</span>
                </div>
            </li>
        </ul>
    </div>
</div>