<if condition="$pjax"><title>{$title}</title></if>
<div id="main">
    <ol class="breadcrumb">
        <li class="active">Dashboard</li>
    </ol>
    <div class="main-show">
        <div class="container-fluid">
            <div id="certificates"></div>
        </div>
    </div>
    <script>
        $(function () {
            function formatter(val, index, row) {
                var btn = $('<a href="/certificates/certificate/id/' + row.id + '" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-log-in"></i></a>');
                btn.bind('click', function () {
                    console.info(JSON.stringify(row));
                    return false;
                })
                return btn;
            }
            $('#certificates').tablegrid({
                title: 'Certificates',
                buttons: [
                    {name: '', btnClass: 'btn-link glyphicon glyphicon-refresh', action: function () {
                            $('#certificates').tablegrid('reload');
                        }
                    }
                ],
                Class: 'table table-striped table-bordered table-hover table-condensed',
                pagination: true, //是否分页
                responsive: true,
                href: "{:U('Certificates/index')}",
                paginationBtns: 1, //左右最多各显示多少个按钮
                columns: [
                    {field: 'id', label: '编号', center: true},
                    {field: 'status', label: '状态', width: 50, center: true, formatter: certstatus},
                    {field: 'createat', label: '创建时间', width: 100, center: true, formatter: timestampformat},
                    {field: 'certtype', label: '类型', width: 100, center: true, formatter: certtype},
                    {field: 'downstreams', label: '下游用户', width: 300, formatter: downstreams},
                    {field: 'coveryear', label: '涵盖年份', width: 100, center: true, sortable: true},
                    {field: 'substances', label: '物质信息', width: 300,formatter:certsubstances},
                    {field: 'oper', label: '查看', width: 50, center: true, formatter: formatter},
                ],
            });
        })
    </script>
</div>